html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #007ea9;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #f05b6d;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */


.formPanel {
  box-sizing: border-box;
  padding: 3rem 1rem 3rem;
  background-color: #fffffb;
  border: 1.5rem solid #007ea9;
  min-width: 100%;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form-heading {
  text-align: center;
  font-size: 2rem;
}

input {
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(227, 227, 227);
}

.text-blue {
  color: #007ea9;
}

.text-red {
  color: #f05b6d;
}

.text-purple {
  color: #4200cd;
}

.text-align-center {
  text-align: center;
}

.input-field {
  width: 90%;
  font-size: 1rem;
  padding: .75rem .75rem .75rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button-width {
  margin-top: 2rem;
  min-width: 95%;
}

.border-test{
  border: 1px solid red;
}

.background-blue {
  background-color: #007ea9;
}

.background-purple {
  background-color: #8f8ae8;
}

/* .db-heading {
  margin-right: auto;
} */

.db-primary-container {
  box-shadow: inset 0px 1px 1px 0px rgba(197, 205, 241, 0.1), 0px 50px 100px -20px rgba(197, 205, 241, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3);
}

/* .left-box-shadow {
  box-shadow: -15px 0 10px -20px rgba(0, 0, 0, 0.45);
} */

/* .right-box-shadow {
  box-shadow: 15px 0 20px -20px rgba(0, 0, 0, 0.45);
} */

.text-center {
  text-align: center;
}