.chart-data-set {
    vertical-align: middle;
    align-self: center;
    text-align: center;
}

.spending-rule {
    text-align: justify;
    text-align: left;
    display: inline-block;
}

.chart-red {
    color: #ff6384;
}

.chart-blue {
    color: #36a2eb;
}

.chart-yellow {
    color: #ffce56;
}
